*:focus {
    outline: none;
}
input:focus {
    outline-width: 0;
}
textarea:focus, input:focus{
    outline: none;
}

*{color:inherit;box-sizing:border-box;text-rendering:optimizeLegibility;font-family: sans-serif}

body{margin:0;background:#000;color:white;}

a,b,u,i,span{font-family:inherit}

b{font-weight:700}

u{text-decoration-color:yellow;cursor:pointer}

#navbar{
  background: red;
}

#smartplayer {
  border: 5px solid white !important;
}

#hid, #hid2, #hid3, #hid4, #hid5 {
  display: none;
}

.img-headline {
  width: 100%;
}

.container{width:100%;max-width:600px;margin:0 auto;position:relative;z-index:1}

.videowrapper {
  width: 90%;
  margin: 0 auto;
}

main {
    padding: 5em 0px 6em 0px;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    border-bottom: solid 1px #191c24;
    /* background-color: #10051a; */
    background: radial-gradient(at center center, rgb(42, 43, 47) 10%, rgb(2, 4, 8) 90%);
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
    /* background-image: url("http://k8s-square-empiricus-assets.s3-website-us-east-1.amazonaws.com/prd/2021/c/LlABqLWobAs8zgh6vKtgArfDl4jImVApQKue8yhg.jpg") !important; */
}

@media only screen and (max-width: 991px) {
    main {
        background-attachment:initial;
    }
}

.wrapper {
    width: 60%;
    max-width: 840px;
    margin: 0 auto;
    position:relative
}

@media only screen and (max-width: 1199px) {
    .wrapper {
        width:75%
    }
}

@media only screen and (max-width: 991px) {
    .wrapper {
        width:80%
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width:95%
    }
    .cta small{
      margin-top: .7em !important;
      font-size: 13px !important;
    }
    .cta {
      font-size: 1.2em !important;
      line-height: 1.2em !important;
      padding: 20px 10px !important;
    }
    main {
        background-attachment:initial;
        padding: 2em 0px 2em 0px;
    }

    main .wrapper {
      width: 100%;
    }

    main .video {
      /* background: black; */
      padding: 0;
    }

    #smartplayer {
      border: none !important;
    }

    .headline {
      font-size: 1em !important;
    }

    .bottom-fixed {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 10px 5%;
      background: rgba(255,255,255,.9);
    }

    .img-headline {
      width: 95%;
    }

    .small-mobile {
      font-size: .8em;
    }
}

/* h1,h2,h3,p,ul li,ol li{margin:0 auto 1.7rem;font-weight:300;letter-spacing:0.03rem} */

h1{font-size:2em;font-weight:700;line-height:1.2em}

h1 span{font-weight:300;font-size:0.55em;line-height:1.2rem;margin-bottom:0.5rem;display:block}

h2{
  /* font-size:1.6em; */
  line-height:1.3em
}

h3{font-size:1.35em;line-height:1.4em}

/* p,ul li,ol li{font-size:1em;line-height:1.35em} */

footer{width:100%;background-color:#000;color:#9298ad;font-weight:300;margin:0 auto;padding:1rem;text-align:center;border-top: solid 1px #191c24;}

footer .logoOelez{width:60px;margin:0 auto 22px}

footer p{font-family:Helvetica, Arial, sans-serif;font-size:0.65rem;line-height:1rem}

footer p a{text-decoration:underline}

.headline {
  color:#0c6555;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.cta small{
  -webkit-font-smoothing: antialiased;
    text-align: center;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    position: relative;
    z-index: 1;
    margin: 0.5em 0 -0.5em;
    font-size: 15px;
    color: #f5e051;
    font-weight: 700;
    text-shadow: #000 0 1px 0;
    line-height: 1.1em;
}

.cta {
    background: linear-gradient(315deg, #ff8d08, #ff6600, #ff8d08, #ff6600);
    background-size: 500% 500%;
    -webkit-animation: cta2 6s ease infinite;
    -moz-animation: cta2 6s ease infinite;
    -o-animation: cta2 6s ease infinite;
    animation: cta2 6s ease infinite;
    border-bottom: 6px #a96706 solid ;

    text-shadow: #000 0 1px 0;

    width: 95% !important;
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 22px 20px;
    margin: 8px auto 0;
    box-sizing: border-box;
    color: #fff;

    cursor: pointer;
    border-radius: 5px;
    display: block;
    font-family: sans-serif;
    line-height: 36px;
    /* font-size: 24px; */
    /* font-weight: bold; */

    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.cta:hover, .cta:focus {
    color: #fff !important;
    background-image: linear-gradient(to bottom, #ff8d08 0%, #ff6600 100%) !important;
    /* text-decoration:underline; */
}

a.linkCheckout{
  text-decoration: underline;
  margin-top: 10px !important;
  cursor: pointer;
  display: block;
  color: #a0a0a0;
}


@-webkit-keyframes cta2 {
    0% {
        background-position:0% 50%
    }

    50% {
        background-position:100% 51%
    }

    100% {
        background-position:0% 50%
    }
}

@-moz-keyframes cta2 {
    0% {
        background-position:0% 50%
    }

    50% {
        background-position:100% 51%
    }

    100% {
        background-position:0% 50%
    }
}

@-o-keyframes cta2 {
    0% {
        background-position:0% 50%
    }

    50% {
        background-position:100% 51%
    }

    100% {
        background-position:0% 50%
    }
}

@keyframes cta2 {
    0% {
        background-position:0% 50%
    }

    50% {
        background-position:100% 51%
    }

    100% {
        background-position:0% 50%
    }
}



.progress-bar0 {
  width: 100%;
  height: 40px;
  overflow: hidden;
  position: relative;
  display: grid;
  border: 2px solid orange;
  border-radius: 50vw;
  background-color: white;
  place-items: center;
  color: black;
  /*max-width: 100%;*/
}
.progress-bar0::before {
  z-index: 400;
  position: absolute;
  content: attr(data-status);
}
.progress-bar0::after {
  width: var(--__progress-bar__status_wh, 0%);
  position: absolute;
  content: "";
  height: 100%;
  justify-self: start;
  background-color: orange;
}
